.formulario-contacto {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;

}



.formulario-contacto label {
    display: block;
    margin-bottom: 10px;
    font-weight: 900;

}

.formulario-contacto input[type="text"],
.formulario-contacto input[type="email"],
.formulario-contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 6px solid #000000;
    border-radius: 20px;
}

.formulario-contacto textarea {
    height: 100px;

}

.formulario-contacto input[type="submit"] {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;


}

.formulario-contacto input[type="submit"]:hover {
    background-color: hsl(57, 79%, 58%);
    border-color: black;

    border-style: dashed;
}

.contenedor-contacto {
    display: flex;
    margin-bottom: 3rem;
}

.informacion-contacto {
    --shadowColor: 187 60% 40%;
    background: hsl(178, 83%, 45%);
    width: 30%;
    box-shadow: 0.65rem 0.65rem 0 hsl(var(--shadowColor) / 1);
    border-radius: 0.8rem;
    overflow: hidden;
    border: 0.5rem solid;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
    margin-bottom: 2rem;
}

.informacion-contacto {
    --shadowColor: 187 60% 40%;
    background: hsl(178, 83%, 45%);
    width: 30%;
    box-shadow: 0.65rem 0.65rem 0 hsl(var(--shadowColor) / 1);
    border-radius: 0.8rem;
    overflow: hidden;
    border: 0.5rem solid;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
    margin-bottom: 2rem;


}



.informacion-contacto:hover {
    --shadowColor: 200 60% 40%;


}

.informacion-contacto h2 {
    text-align: center;

    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    margin-bottom: 2rem;

}

.informacion-contacto h3 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 900;
    font-style: normal;
    text-decoration: underline;
    margin-top: 1.5rem;

}

.informacion-contacto p {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;

}



.formulario-contacto {
    --shadowColor: 187 60% 40%;
    background: hsl(57, 79%, 58%);
    width: 100%;
    box-shadow: 0.65rem 0.65rem 0 hsl(var(--shadowColor) / 1);
    border-radius: 0.8rem;
    overflow: hidden;
    border: 0.5rem solid;
    padding: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;


}


.formulario-contacto:hover {
    --shadowColor: 200 60% 40%;
}



.icon-contact {
    width: 4rem;
    margin: 1rem;
    margin-top: 2rem;
    justify-content: center;

}

.iconos-redes {
    display: flex;
    justify-content: center;
}

/* boton agregado al ultimo */

.ov-btn-slide-left {
    background: hsl(57, 79%, 58%);
    /* color de fondo */
    color: #000000;
    /* color de fuente */
    border: 6px solid #000000;
    /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 20px;
    /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    margin-left: 31%;

}

.ov-btn-slide-left:hover {
    color: #fff;
    /* color de fuente hover */
}

.ov-btn-slide-left::after {
    content: "";
    background: #000000;
    /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.ov-btn-slide-left:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.dark-mode .informacion-contacto {
    background-color: rgb(10, 10, 10);
    box-shadow: 0 0 10px hsl(178, 83%, 45%);
    border-width: 0.4rem;
    transition: all 0.5s ease;
}

.dark-mode .informacion-contacto:hover {
    background-color: rgb(10, 10, 10);

    box-shadow: 0 0 60px hsl(178, 83%, 45%);
    ;
    ;
    border-width: 0.4rem;
}

.dark-mode .informacion-contacto h2 {
    color: azure;
}

.dark-mode .informacion-contacto h3 {
    color: azure;
}

.dark-mode .informacion-contacto p {
    color: azure;
}

.dark-mode .formulario-contacto {
    background-color: rgb(10, 10, 10);

   box-shadow: none;
    border-width: 0.4rem;
}

.dark-mode .formulario-contacto:hover {
    background-color: rgb(10, 10, 10);

    box-shadow: 0 0 60px hsl(57, 79%, 58%);
    border-width: 0.4rem;
    transition: all 0.5s ease;
}

.dark-mode .formulario-contacto label {
    color: azure
}

.dark-mode #mensaje {
    border-color: rgb(243, 224, 81);
}

.dark-mode #email {
    border-color: rgb(243, 224, 81);
}

.dark-mode #nombre {
    border-color: rgb(243, 224, 81);
}

.dark-mode #titulocontacto{
    color: azure;
    text-shadow: 0 0 50px rgb(71, 138, 255);
}

@media (max-width: 991.98px) {


    .icon-contact {
        width: 2.8rem;
        margin: 1rem;
    }

    .iconos-redes {
        display: flex;
        justify-content: center;



    }

    #pemail {
        font-size: medium;
    }

    .contenedor-contacto {
        display: block;
    }

    .formulario-contacto {
        --shadowColor: 187 60% 40%;
        background: hsl(57, 79%, 58%);
        width: 100%;
        /* box-shadow: 0.65rem 0.65rem 0 hsl(var(--shadowColor) / 1); */
        box-shadow: 0 0.65rem 0 hsl(var(--shadowColor) / 1);
        border-radius: 0.0rem;
        overflow: hidden;
        border: 0.5rem solid;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;


    }

    .dark-mode .formulario-contacto {
        --shadowColor: 187 60% 40%;
        background: hsl(57, 79%, 58%);
        width: 100%;
        box-shadow: 0.65rem 0.65rem 0 hsl(var(--shadowColor) / 1);
        border-radius: 0.0rem;
        overflow: hidden;
        border: 0.5rem solid;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
    }

    .informacion-contacto {
        --shadowColor: 187 60% 40%;
        background: hsl(178, 83%, 45%);
        width: 100%;
        /* box-shadow: 0.65rem 0.65rem 0 hsl(var(--shadowColor) / 1); */
        box-shadow: 0 0.65rem 0 hsl(var(--shadowColor) / 1);
        border-radius: 0.0rem;
        overflow: hidden;
        border: 0.5rem solid;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
    }

    .dark-mode .informacion-contacto{
        background-color: rgb(10, 10, 10);

        box-shadow: 0 0 60px hsl(178, 83%, 45%);
        ;
        ;
        border-width: 0.4rem;
    }

    .dark-mode .formulario-contacto {
        background-color: rgb(10, 10, 10);

        box-shadow: 0 0 60px hsl(57, 79%, 58%);
        border-width: 0.4rem;
        
    }
}